* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.body {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container {
    margin: 0px 0px;
   display: flex;
    flex:1;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:lightgreen;
    
    /*width:min-content;*/
}

.sketch{
    display: flex;
    flex-wrap: wrap;    /*
    flex-direction: column;
    justify-content:center;
    align-items: center;
    */
    width: 800px;
    height : 800px;
}
/**/
.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:lightyellow;
}

.gridDiv {
    display:flex;
    width: 50px;
    height: 50px;
    background-color: cyan;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.highlight {
    background-color: yellow;
  }
 /* */