* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.body {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.setGridSize {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    background-color: lightgreen;
}

.container {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:lightgreen;
}

.sketch{
    display: flex;
    flex-wrap: wrap; 
    width: 800px;
    height : 800px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:pink;
    border-style : solid;
    border-color : blue;
    border-width : 1px;
    min-width: fit-content;
    min-height: fit-content;
}

.gridDiv {
    display:flex;
    flex-direction: column;
    background-color: cyan;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.highlight {
    background-color: yellow;
}

.header,
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightgreen;
    background-color: rgb(31, 50, 31);
}

.heading {
    display: flex;
    justify-content : center;
    color: lightgreen;
    font-weight: 700;
    margin : 0px 10px;
    padding :10px;
}

.btnContainer {
    display:flex;
    flex-direction : row;
    justify-content: space-between;
    color: lightgreen;
    background-color: rgb(31, 50, 31);
}

.btnNote {
    display: flex;
    justify-self: flex-start;
    margin: 15px;
}
 