* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.body {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:lightgreen;
}

.sketch{
    display: flex;
    flex-wrap: wrap; 
    width: 800px;
    height : 800px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:pink;
    border-style : solid;
    border-color : blue;
    border-width : 1px;
    min-width: fit-content;
    min-height: fit-content;
}

.gridDiv {
    display:flex;
    flex-direction: column;
    background-color: cyan;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.highlight {
    background-color: yellow;
  }
 